body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Roboto,
                 Helvetica,
                 Arial,
                 sans-serif,
                 "Apple Color Emoji",
                 "Segoe UI Emoji",
                 "Segoe UI Symbol";
    gap: 48px;
    line-height: 1.3;
    margin: 0px auto;
    max-width: 512px;
    padding: 32px 16px;
}

h2, h3, p {
    margin: 0px;
}

a {
    color: #2593CF;
}

header {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

#me {
    border-radius: 24px;
    width: 48px;
}

.secondary {
    font-weight: normal;
    opacity: 0.75;
}

.project {
    align-items: start;
    display: flex;
    gap: 16px;
}

.project > img {
    width: 64px;
}

.project > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.light-shadow {
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.5));
}

.dark-shadow {
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.lnks {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
